<!-- Find Advisor step 2 -->
  <div class="page-header">
    <h2>Traveller's Activities</h2>
  </div> 
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-default" href="#/">Create Activity</a>
    </div>
  </div>
  <br><br>
  <div class="row" ng-repeat="(name,activity) in travellerActivities">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <h4>Trip Title</h4>
              <h5>{{activity.title}}</h5>
            </div>
            <div class="col-xs-3">
              <h4>Adviosr Name</h4>
              <h5>{{activity.advisorName}}</h5>
            </div>
            <div class="col-xs-3">
              <h4 ng-if="activity.destinationList.length<1">Destinations</h4>
              <h4 ng-if="activity.destinationList.length==1">Destination</h4>
              <h5 class="text-balanced">
                <span ng-repeat="dl in activity.destinationList">
                  <span class="flag-icon flag-icon-{{getCountryCode(dl)}}"></span>
                  <span>{{dl}} </span>  
                </span>
              </h5>
            </div>
            <div class="col-xs-1">
              <h4>Status</h4>
              <h5 class="text-success">{{activity.status}}</h5>
            </div>
            <div class="col-xs-2">
            <a href="#/activity/{{activity.key}}/travel" class="btn btn-default">Go to details</a><br/>
            <button ng-if="activity.status != 'accept'" disabled="">Go To Virtual Planner</button><br/>
            <a ng-if="activity.status == 'accept'" href="#/activity/{{activity.key}}/travel" class="btn btn-default">Go To Virtual Planner</a><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h2>Advisor's Activities</h2>
  </div> 
  <div class="row" ng-repeat="(name,activity) in advisorActivities">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <h4>Trip Title</h4>
              <h5>{{activity.title}}</h5>
            </div>
            <div class="col-xs-3">
              <h4>Traveller Name</h4>
              <h5>{{activity.travellerName}}</h5>
            </div>
           <div class="col-xs-3">
              <h4 ng-if="activity.destinationList.length > 1">Destinations</h4>
              <h4 ng-if="activity.destinationList.length==1">Destination</h4>
              <h5 class="text-balanced">
                <span ng-repeat="dl in activity.destinationList">
                  <span class="flag-icon flag-icon-{{getCountryCode(dl)}}"></span>
                  <span>{{dl}} </span>  
                </span>
              </h5>
            </div>
            <div class="col-xs-1">
              <h4>Status</h4>
              <h5 class="text-success">{{activity.status}}</h5>
            </div>
            <div class="col-xs-2">
            <a href="#/activity/{{activity.key}}/advisor" class="btn btn-default">Go to details</a><br/>
            <a ng-if="activity.status == 'accept'" href="#/activity/{{activity.key}}/advisor" class="btn btn-default">Go to Virtual Palnner</a><br/>
            <button ng-if="activity.status != 'accept'" disabled="">Go To Virtual Planner</button><br/>
            <a ng-if="activity.status == 'new'" ng-click="updateStatus('accept', activity.key)" href="" class="btn btn-default">Accept</a><br/>
            <a ng-if="activity.status == 'new'" href="" ng-click="updateStatus('decline', activity.key)" class="btn btn-default">Decline</a><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>