<!-- create-activity.html -->
<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><a href="#/">Advisor List</a></li>
      <li class="active">Let's Schedule Your Trip</li>
    </ul>
  </div>
</div>
<div id="form-container">
    <div class="page-header">
      <h2>Let's Schedule Your Trip!</h2>
    </div>  
    <div class="row">
      <div class="col-xs-12" style="margin:20px 0px;">
        <form id="loginForm" name="loginForm" novalidate="">  
          <div class='row'>
            <div class="col-xs-12">
              <legend>Types of Advising</legend>
              <div class="row">
                <div ng-repeat="service in advisorSecvices" class="col-xs-4 form-group">
                  <input type="radio" name="service" ng-model="userActivity.service_uid" value="{{service.$id}}" required >
                  <h3>{{service.title}} ({{service.price}})</h3>
                  <p>{{service.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                    <legend>About What?</legend>
                    <div class="col-xs-12">
                      <h4>Activity Title</h4>
                      <input type="text" ng-model="userActivity.title" />
                    </div>
                    <div class="col-xs-6">
                      <h4>Country</h4>
                      <div class="form-group">
                        <select ng-model="select_country" ng-options="country.name for country in countries track by country.code" style="width: 100%;">
                          <option value="">-- Select a Country --</option>
                        </select>
                        <a  class="btn btn-block btn-info" style="padding-top:5px;" ng-click="addCountry(select_country)">Add Country <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <p ng-if="destinationsList.length===0 && noDestination==true" class="alert alert-danger">Error! Add atleast One Country</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <h4 class="row-center">My Trip:</h4>
                      <h6 class="row-center" ng-if="destinationsList.length==0">No Country is Selected</h6>
                      <ul class="list-group" destinations-list ></ul>
                    </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                    <h4>Interests</h4>
                    <div class="col-xs-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===0">
                      <input type="checkbox" ng-model="userActivity.interest[$index]" value="{{role.name}}" name="favoriteColors">
                      <h6 style="display:inline;">{{role.name}}</h6>
                    </div>
                    <div class="col-xs-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===1">
                      <input type="checkbox" ng-model="userActivity.interest[$index]" value="{{role.name}}" name="favoriteColors">
                      <h6 style="display:inline;">{{role.name}}</h6>
                    </div>
                    <div class="col-xs-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===2">
                      <input type="checkbox" ng-model="userActivity.interest[$index]" value="{{role.name}}" name="favoriteColors">
                      <h6 style="display:inline;">{{role.name}}</h6>
                    </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                    <h4>Comments</h4>    
                    <div class="form-group col-xs-10">            
                      <textarea ng-model="userActivity.comment" row="20"></textarea>
                    </div>
            </div>
          </div>
          <div class="row-center">
                  <a ng-click="saveUserActivity(userActivity)" class="btn btn-info col-xs-6 col-xs-offset-3">
                    Lets Schedule <span class="glyphicon glyphicon-circle-arrow-left"></span>
                  </a>
          </div>
        </form>
      </div>
    </div>
</div>


