<!-- Find Advisor step 2 -->
<div class="container">
   <div class="row">
    <h3> What are your interests? </h3>
  </div>
  <form class="form-horizontal" id="step2" name="step2" novalidate="">
   <div class="row row-content ">
     <div class="col-xs-12 col-sm-8 col-sm-offset-3">
      <div class="col-sm-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===0">
       <input type="checkbox" checklist-model="user.roles" checklist-value="role" name="favoriteColors">
       <h4>{{role.name}}</h4>
     </div>
     <div class="col-sm-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===1">
       <input type="checkbox" checklist-model="user.roles" checklist-value="role" name="favoriteColors">
       <h4>{{role.name}}</h4>
     </div>
     <div class="col-sm-4 form-group" ng-repeat="role in roles | filter:search" ng-if="$index%3===2">
       <input type="checkbox" checklist-model="user.roles" checklist-value="role" name="favoriteColors">
       <h4>{{role.name}}</h4>
     </div>
    </div>
  </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-2">
          <a ui-sref="app.step1" class="btn btn-block btn-info">
          Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-2 col-sm-offset-4">
          <a ui-sref="app.step3" class="btn btn-block btn-info">
          Next Section  <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
         </div> 
    </div>
  </form>
</div>
