<!-- Find Advisor step 4 -->
<div class="container">
	<div class="row">
		<h3> Summary:</h3>
	</div>
	<hr>
	<div class="row row-content">
		<div class="row row-cneter col-sm-offset-4">
			<h4> Destinations:  </h4>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
				<ul>
					<li ng-repeat="destination in destinationsList">
						<h4>{{destination.name}} 
							<span ng-show="containCities(destination)">(</span> 
							<span ng-repeat="city in destination.citiesSelected"> {{city.name}}  </span> 
							<span ng-show="containCities(destination)">)</span> </h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Interests: </h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
				<ul>
					<div ng-repeat="interest in user.roles">
						<li>{{interest.name}}</li>
					</div>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Budget: {{budget}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Dates</h4>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="row">
		   	<div class="col-xs-12 col-sm-2 col-sm-offset-2">
			    <a ui-sref="app.step3" class="btn btn-block btn-info" ng-click="fillDates(date_depart,date_return)">
			     Previous Section<span class="glyphicon glyphicon-circle-arrow-left"></span>
				</a>
			</div> 
			<div class="col-xs-12 col-sm-2 col-sm-offset-4">
			    <a ui-sref="app.results" class="btn btn-block btn-info">
			        Find <span class="glyphicon glyphicon-circle-arrow-right"></span>
			    </a>
			</div>
		</div> 
	</div>
</div>