   <!-- Find Advisor step 3 -->
<div class="container">
   <div class="row">
      <h3> Budget:</h3>
   </div>   
   <form class="form-horizontal" id="loginForm" name="loginForm" novalidate="">
      <div class="row row-content ">
         <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="btn-group">
                <a class="btn btn-primary" ng-click="setBudget(1)" active>Tight</a>
                <a class="btn btn-primary" ng-click="setBudget(2)" >Moderate</a>
                <a class="btn btn-primary" ng-click="setBudget(3)" >Comfortable</a>
                <a class="btn btn-primary" ng-click="setBudget(4)" >Luxurious</a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12 col-sm-2 col-sm-offset-2">
            <a ui-sref="app.step2" class="btn btn-block btn-info">
               Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
         </div>
         <div class="col-xs-12 col-sm-2 col-sm-offset-4">
            <a ui-sref="app.step4" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
         </a>
         </div> 
      </div>
   </form>

</div>