<!-- Find Advisor step 3 -->
<div class="container">
    <div class="row">
      <h3> Dates:</h3>
      <div class="row row-content ">
       <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row row-center">
            <div class="col-xs-12 col-sm-2 col-sm-offset-3">
                <h3> Depart </h3>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                <h3> Return </h3>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                <uib-datepicker ng-model="date_depart2" min-date="date_depart" show-weeks="true" class="well well-sm"></uib-datepicker>
            </div>
            <div class="col-xs-12 col-sm-4">
                <uib-datepicker ng-model="date_return2" min-date="date_depart" show-weeks="true" class="well well-sm"></uib-datepicker>
            </div>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-xs-12 col-sm-2 col-sm-offset-2">
    <a ui-sref="app.step3" class="btn btn-block btn-info" ng-click="fillDates(date_depart,date_return)">
     Previous Section<span class="glyphicon glyphicon-circle-arrow-left"></span>
 </a>
</div> 
<div class="col-xs-12 col-sm-2 col-sm-offset-4">
    <a ui-sref="app.summary" class="btn btn-block btn-info" ng-click="fillDates(date_depart,date_return)">
        Summary <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div> 
</div>
</form>
</div>
</div>