<!-- Find Advisor step 4 -->
<div class="container">
	<div class="row">
		<h3> Summary:</h3>
	</div>
	<hr>
	<div class="row row-content">
		<div class="row row-cneter col-sm-offset-4">
			<h4> Destinations:  </h4>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
				<ul>
					<div ng-repeat="country in countryList">
						<li>{{country}}</li>
					</div>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Interests: </h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
				<ul>
					<div ng-repeat="interest in user.roles">
						<li>{{interest.name}}</li>
					</div>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Budget: {{budget}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4>Dates</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4">
			<h4> Depart: {{date_depart | date}} Return: {{date_return | date}}</h4>
			</div>
		</div>

	</div>
</div>