        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="app.step1">Tip&Trip</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a ui-sref="app.step1"><span class="glyphicon glyphicon-home"aria-hidden="true"></span>Home</a></li>
                        <li><a ui-sref="app.step1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Relationships</a></li>
                        <li><a ui-sref="app.step1"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Dashboard</a></li>
                        <li><a ui-sref="app.step1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Profile</a></l>
                        <li><a ui-sref="advisor_register"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Become an Advisor</a></li>
                        <li><a ui-sref="find.step1"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Account</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                            <a ui-sref="login" ng-show="!isCurrent">
                                <span class="glyphicon glyphicon-home"
                                aria-hidden="true"></span> Login </a>
                            </li>
                            <li><a ui-sref="signin" ng-show="!isCurrent">
                                <span class="glyphicon glyphicon-info-sign"
                                aria-hidden="true"></span> Register</a>
                            </li>
                            <li><a ui-sref="app.step1" ng-show="isCurrent">
                                <span class="glyphicon glyphicon-info-sign"
                                aria-hidden="true"></span> {{email}}</a>
                            </li>
                            <li><a ui-sref="app.step1" ng-show="isCurrent" ng-click="logout()">
                                <span class="glyphicon glyphicon-info-sign"
                                aria-hidden="true"></span> Logout</a>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </nav>         

            <header class="jumbotron">
                <div class="container">
                    <div class="row row-header row-center">
                        <div>
                            <h1>Tip&Trip</h1>
                            <p style="padding:10px;"></p>
                            <p>Travel like you like</p>
                        </div>
                    </div>
                </div>
            </header>
